<div class="container">
     <div class="row">
        <div class="col-md-8">
            <h3>Suplan - это планировщик питания для спортивных походов и путешествий</h3>
            <p>
                Сделано на <a href="http://penza.hackday.ru/">HackDay #44.Penza</a> за 48 часов
            </p>
            <p>
                Разработчики: <a href="https://github.com/vikshv">Швецов Виктор</a> и <a href="https://github.com/frolant">Фролов Антон</a>
            </p>
            <p>
                <a href="https://github.com/vikshv/suplan/">GitHub</a>
            </p>
        </div>
     </div>
</div>
