<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calendarDate">
      <mat-header-cell *matHeaderCellDef> Дата </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.calendarDate | date:'dd.MM.yyyy'}} г. </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Вес </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calories">
      <mat-header-cell *matHeaderCellDef> Калорийность </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.calories}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</div>
