<h3>План питания</h3>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#home" data-toggle="tab">Дни</a>
    </li>
    <li>
        <a href="#profile" data-toggle="tab">Список продуктов</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <div class="suplan-nav-tabs">
            <day-table></day-table>
        </div>
    </div>
    <div class="tab-pane fade" id="profile">
        <div class="suplan-nav-tabs">
            <p></p>
        </div>
    </div>
</div>
