<h3>План питания</h3>

<ul class="nav nav-tabs">
    <li [ngClass]="{ active: isSelected(0) }">
        <a (click)="onClickTab(0)">Дни</a>
    </li>
    <li [ngClass]="{ active: isSelected(1) }">
        <a (click)="onClickTab(1)">Список продуктов</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content" [ngSwitch]="tab">
    <div class="suplan-nav-tabs" *ngSwitchCase="0">
        <day-table></day-table>
    </div>
    <div class="suplan-nav-tabs" *ngSwitchCase="1">
        <product-list></product-list>
    </div>
</div>
