<div class="row">
    <div class="col-md-8">
      <form class="form-horizontal" #f="ngForm">
        <fieldset>
          <div class="form-group">
            <label for="inputPlanName" class="col-lg-4 control-label">Название</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputPlanName" placeholder="Новый план" name="planName" [(ngModel)]="planName">
            </div>
          </div>

          <div class="form-group">
            <label for="inputCount" class="col-lg-4 control-label">Кол-во участников</label>
            <div class="col-lg-4">
              <input type="text" class="form-control" id="inputCount" placeholder="" name="countMembers" [(ngModel)]="countMembers">
            </div>
          </div>

          <div class="form-group">
            <label for="inputDays" class="col-lg-4 control-label">Продолжительность, дней</label>
            <div class="col-lg-4">
              <input type="text" class="form-control" id="inputDays" placeholder=""name="countDays" [(ngModel)]="countDays" >
            </div>
          </div>

          <div class="form-group">
            <label for="textArea" class="col-lg-4 control-label">Описание</label>
            <div class="col-lg-8">
              <textarea class="form-control" rows="3" id="textArea"></textarea>
              <span class="help-block">Добавьте краткое описание назначения плана</span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-8 col-lg-offset-4">
              <button class="btn btn-primary" (click)="save()">Применить</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
