<h3>Состав блюда</h3>

<div class="row">
    <div class="col-md-6">
        <ul class="breadcrumb">
          <li *ngFor="let item of breadcrumb">
              <a href="#">{{item}}</a>
          </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="recipeName">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="changeRecipeName()">Сохранить</button>
            </span>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-success" (click)="addProduct()">Добавить продукт</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
          <table class="table table-hover suplan-table">
              <thead>
                  <tr>
                      <th>Наименование</th>
                      <th>Вес, г</th>
                      <th>Калорийность, ккал</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let row of products">
                      <td>
                          <a routerLink="/plan/{{dayIndex}}/{{repastIndex}}/{{recipeIndex}}/{{row.index}}">
                            {{row.name}}
                          </a>
                      </td>
                      <td>{{row.weight}}</td>
                      <td>{{row.calories}}</td>
                      <td>
                        <i class="fa fa-trash" aria-hidden="true" (click)="removeProduct(row.index)"></i>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <b>Сумма:</b>
                      </td>
                      <td><b>{{sumWeight()}}</b></td>
                      <td><b>{{sumCalories()}}</b></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
    </div>
</div>
