<h3>Меню на день</h3>

<div class="row">
    <div class="col-md-6">
        <ul class="breadcrumb">
          <li *ngFor="let item of breadcrumb">
              <a href="#">{{item}}</a>
          </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-success" disabled>Добавить</a>
                <a class="btn btn-success" (click)="addRepast(1)">Завтрак</a>
                <a class="btn btn-success" (click)="addRepast(2)">Обед</a>
                <a class="btn btn-success" (click)="addRepast(3)">Ужин</a>
                <a class="btn btn-success" (click)="addRepast(4)">Перекус</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover suplan-table">
            <thead>
              <tr>
                <th>Наименование</th>
                <th>Вес, г</th>
                <th>Калорийность, ккал</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of repasts">
                <td>
                    <a routerLink="/plan/{{dayIndex}}/{{row.index}}">
                        {{row.name}}
                    </a>
                </td>
                <td>{{getWeight(row)}}</td>
                <td>{{getCalories(row)}}</td>
                <td>
                    <i class="fa fa-trash" aria-hidden="true" (click)="removeRepast(row.index)"></i>
                </td>
              </tr>
              <tr>
                  <td>
                      <b>Сумма:</b>
                  </td>
                  <td><b>{{sumWeight()}}</b></td>
                  <td><b>{{sumCalories()}}</b></td>
                  <td></td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
