<h3>Plan page</h3>

<div class="row">
    <div class="col-md-12">
        <p>Трапезы toolbar</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
          <table class="table table-hover suplan-table">
              <thead>
                  <tr>
                      <th>Название</th>
                      <th>Вес</th>
                      <th>Калорийность</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let row of repasts" routerLink="/plan/{{dayIndex}}/{{row.index}}">
                      <td>{{row.name}}</td>
                      <td>{{row.weight}}</td>
                      <td>{{row.calories}}</td>
                  </tr>
              </tbody>
          </table>
    </div>
</div>
