<h3>Plan page</h3>

<div class="row">
    <div class="col-md-12">
        <p>Plan toolbar</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.index}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef> Дата </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.date | date:'dd.MM.yyyy'}} г. </mat-cell>
            </ng-container>

            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef> Вес </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="calories">
              <mat-header-cell *matHeaderCellDef> Калорийность </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.calories}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/plan/{{row.index}}"></mat-row>

          </mat-table>
        </div>
    </div>
</div>
