@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    margin-bottom: 120px;
}

.logo {
    color: #ffffff;
    float: left;
    line-height: 63px;
    margin-right: 20px;
}

.suplan-table {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    margin-top: 10px;
}

.suplan-nav-tabs {
    margin-top: 10px;
}

.suplan-link {
    cursor: pointer;
}

.suplan-footer {
    background-color: #3e3f3a;
    color: #98978b;
}

.footer-links {
    line-height: 86px;
}
